Repository vnLab-Lodz/PubLab, pull requests merged in 2020-11, with the labels that each got.

#9 Rewrite Redux implementation with Redux Toolkit
  src/main/index.ts
  src/renderer/components/app/app.tsx
  src/renderer/components/description/description.tsx
  src/shared/actions/example.ts
  src/shared/configureStore.ts
  src/shared/helpers/createActionMain.ts
  src/shared/reducers/example.ts
  src/shared/reducers/index.ts
  src/shared/rootReducer.ts
  src/shared/slices/currentUserSlice.ts
  yarn.lock
Labels: front-end

#8 Working electron-redux implementation
  package-lock.json
  package.json
  src/components/description/description.tsx
  src/main/index.ts
  src/renderer/assets/.keep
  src/renderer/components/app/app.scss
  src/renderer/components/app/app.tsx
  src/renderer/components/description/description.scss
  src/renderer/components/description/description.tsx
  src/renderer/constants/.keep
  src/renderer/index.scss
  src/renderer/renderer.tsx
  src/shared/configureStore.ts
  src/shared/helpers/createActionMain.ts
  src/shared/rootReducer.ts
  src/shared/slices/currentUserSlice.ts
  tsconfig.json
  webpack.main.config.js
  yarn.lock
Labels: enhancement, front-end

#17 Attach control state to gatsby-cli install process
  package.json
  src/main/node/gatsby.ts
  src/renderer/components/description/description.tsx
  src/shared/configureStore.ts
  src/shared/helpers/createActionMain.ts
  src/shared/rootReducer.ts
  src/shared/slices/currentUserSlice.ts
  src/shared/slices/gatsbyInstallSlice.ts
  utils/api/.keep
  utils/git/.keep
  utils/shell/.keep
Labels: back-end, enhancement, node

#16 Function for installing gatsby-cli via NPM
  package.json
  src/main/node/gatsby.ts
  src/renderer/components/description/description.tsx
  src/shared/configureStore.ts
  src/shared/helpers/createActionMain.ts
  src/shared/rootReducer.ts
  src/shared/slices/currentUserSlice.ts
  src/shared/slices/gatsbyInstallSlice.ts
  utils/api/.keep
  utils/git/.keep
  utils/shell/.keep
  yarn.lock
Labels: back-end, enhancement, gatsby, node

#18 Hold default directory for projects in state
  lib/file-manager.ts
  src/main/node/file-manager.ts
  src/renderer/components/description/description.tsx
  src/shared/rootReducer.ts
  src/shared/slices/configurationSlice.ts
  utils/api/.keep
  utils/git/.keep
  utils/shell/.keep
Labels: back-end, enhancement, node

#19 Custom navigation
  src/main/index.ts
  src/renderer/components/CustomRouter/CustomRouter.scss
  src/renderer/components/CustomRouter/CustomRouter.tsx
  src/renderer/components/ErrorComponent/ErrorComponent.scss
  src/renderer/components/ErrorComponent/ErrorComponent.tsx
  src/renderer/components/LoginComponent/LoginComponent.scss
  src/renderer/components/LoginComponent/LoginComponent.tsx
  src/renderer/components/NavigationBar/NavigationBar.scss
  src/renderer/components/NavigationBar/NavigationBar.tsx
  src/renderer/components/RouterComponents/Component1/Component1.scss
  src/renderer/components/RouterComponents/Component1/Component1.tsx
  src/renderer/components/RouterComponents/Component2/Component2.scss
  src/renderer/components/RouterComponents/Component2/Component2.tsx
  src/renderer/components/RouterComponents/Component3/Component3.scss
  src/renderer/components/RouterComponents/Component3/Component3.tsx
  src/renderer/components/RouterComponents/Description/Description.scss
  src/renderer/components/RouterComponents/Description/Description.tsx
  src/renderer/components/UserLogin/UserLogin.scss
  src/renderer/components/UserLogin/UserLogin.tsx
  src/renderer/components/app/app.scss
  src/renderer/components/app/app.tsx
  src/renderer/components/description/description.scss
  src/renderer/constants/ComponentsList.ts
  src/renderer/constants/RouterComponents.ts
  src/renderer/index.scss
  src/shared/rootReducer.ts
  src/shared/slices/currentViewSlice.ts
Labels: enhancement, front-end

#30 Add styles and UX to Navbar
  docs/contributing.md
  package-lock.json
  src/main/index.ts
  src/renderer/components/CustomRouter/CustomRouter.tsx
  src/renderer/components/NavigationBar/NavigationBar.scss
  src/renderer/components/NavigationBar/NavigationBar.tsx
  src/renderer/components/RouterComponents/AppSettings/AppSettings.scss
  src/renderer/components/RouterComponents/AppSettings/AppSettings.tsx
  src/renderer/components/RouterComponents/Changes/Changes.scss
  src/renderer/components/RouterComponents/Changes/Changes.tsx
  src/renderer/components/RouterComponents/Component1/Component1.tsx
  src/renderer/components/RouterComponents/Component2/Component2.tsx
  src/renderer/components/RouterComponents/Component3/Component3.tsx
  src/renderer/components/RouterComponents/Files/Files.scss
  src/renderer/components/RouterComponents/Files/Files.tsx
  src/renderer/components/RouterComponents/ProjectsList/ProjectsList.scss
  src/renderer/components/RouterComponents/ProjectsList/ProjectsList.tsx
  src/renderer/components/RouterComponents/Settings/Settings.scss
  src/renderer/components/RouterComponents/Settings/Settings.tsx
  src/renderer/components/app/app.scss
  src/renderer/components/app/app.tsx
  src/renderer/constants/Components.ts
  src/renderer/constants/ComponentsList.ts
  src/renderer/constants/RouterComponents.ts
  src/shared/slices/currentViewSlice.ts
Labels: enhancement, front-end

#25 Git/authenticate user
  .gitignore
  package-lock.json
  package.json
  src/main/git/gitAuthorization.ts
  src/main/git/gitOperations.ts
  src/main/git/gitTypes.ts
  src/renderer/components/LoginComponent/LoginComponent.tsx
  src/renderer/components/RouterComponents/Description/Description.tsx
  src/renderer/components/UserLogin/UserLogin.tsx
  src/renderer/renderer.tsx
  src/shared/slices/currentUserSlice.ts
  src/shared/slices/logInWithGithubSlice.ts
  yarn.lock
Labels: enhancement, git
