Repository vnLab-Lodz/PubLab, pull requests merged in 2020-12, with the labels that each got.

#32 User slice created
  package-lock.json
  src/main/git/gitCurrentuser.ts
  src/renderer/components/RouterComponents/Description/Description.tsx
  src/shared/slices/currentUserSlice.ts
  yarn.lock
Labels: front-end, git

#28 Frontend/ Created authentication-screen
  package-lock.json
  package.json
  src/renderer/components/LoginComponent/LoginComponent.scss
  src/renderer/components/LoginComponent/LoginComponent.tsx
  yarn.lock
Labels: enhancement, front-end, question

#33 Add project list view
  custom.d.ts
  package.json
  src/renderer/components/RouterComponents/ProjectsList/IProject.ts
  src/renderer/components/RouterComponents/ProjectsList/IProjectState.ts
  src/renderer/components/RouterComponents/ProjectsList/ProjectsList.scss
  src/renderer/components/RouterComponents/ProjectsList/ProjectsList.tsx
  src/renderer/components/RouterComponents/ProjectsList/add_circle-24px.svg
  src/renderer/components/RouterComponents/ProjectsList/article-24px.svg
  src/renderer/components/RouterComponents/ProjectsList/search-24px.svg
  src/renderer/components/app/app.scss
  tsconfig.json
  webpack.rules.js
Labels: enhancement, front-end

#34 Update README.md
  README.md
Labels: enhancement

#35 Fix scrollbar and search in project list view
  src/renderer/components/RouterComponents/ProjectsList/ProjectsList.scss
  src/renderer/components/RouterComponents/ProjectsList/ProjectsList.tsx
Labels: bug, front-end

#42 Log out functionality and auth improvements
  src/main/git/gitAuthorization.ts
  src/main/git/gitCurrentUser.ts
  src/main/index.ts
  src/main/logger.ts
  src/main/node/gatsby.ts
  src/renderer/components/Auth/Auth.tsx
  src/renderer/components/LoginComponent/LoginComponent.tsx
  src/renderer/components/NavigationBar/NavigationBar.tsx
  src/renderer/components/RouterComponents/Description/Description.tsx
  src/shared/slices/currentUserSlice.ts
Labels: enhancement, front-end, git

#43 Refactor view subview
  src/renderer/components/App/App.scss
  src/renderer/components/App/App.tsx
  src/renderer/components/CustomRouter/CustomRouter.scss
  src/renderer/components/CustomRouter/CustomRouter.tsx
  src/renderer/components/LoginComponent/LoginComponent.scss
  src/renderer/components/NavigationBar/NavigationBar.scss
  src/renderer/components/NavigationBar/NavigationBar.tsx
  src/renderer/components/RouterComponents/NoProjects/NoProjects.tsx
  src/renderer/components/RouterComponents/ProjectInfo/ProjectInfo.scss
  src/renderer/components/RouterComponents/ProjectInfo/ProjectInfo.tsx
  src/renderer/components/RouterComponents/ProjectsList/IProject.ts
  src/renderer/components/RouterComponents/ProjectsList/ProjectsList.scss
  src/renderer/components/RouterComponents/ProjectsList/ProjectsList.tsx
  src/renderer/constants/RouterComponents.ts
  src/renderer/constants/Views.ts
  src/renderer/utils/formatDate.ts
  src/shared/slices/currentViewSlice.ts
Labels: enhancement, front-end

#48 function to check whether node is installed globally with appropriate…
  src/main/node/nodeCheck.ts
  src/shared/rootReducer.ts
  src/shared/slices/nodeCheckSlice.ts
Labels: back-end, enhancement, node

#49 Improve project list view
  src/renderer/components/RouterComponents/ProjectInfo/ProjectInfo.tsx
  src/renderer/components/RouterComponents/ProjectsList/ProjectsList.scss
  src/renderer/components/RouterComponents/ProjectsList/ProjectsList.tsx
  src/renderer/components/RouterComponents/ProjectsList/delete-24px.svg
Labels: enhancement, front-end

#31 Add config manager
  src/main/node/config-manager.ts
Labels: back-end, enhancement, node
