Repository vnLab-Lodz/PubLab, pull requests merged in 2021-11, with the labels that each got.

#101 Rename configSlice to settingsSlice
  src/shared/redux/rootReducer.ts
  src/shared/redux/slices/configurationSlice.ts
  src/shared/redux/slices/settingsSlice.ts
Labels: back-end

#93 Issue 79 - solved
  package.json
  src/main/index.ts
  src/main/node/config-manager.ts
  src/main/node/file-manager.ts
  src/renderer/views/Description/Description.tsx
  src/shared/redux/slices/publicationsSlice.ts
  yarn.lock
Labels: back-end

#103 Fixed navbar scrolling bug
  src/renderer/components/App/App.scss
  src/renderer/components/NavigationBar/NavigationBar.scss
Labels: bug

#102 added imagepicker component
  src/renderer/components/ImagePicker/ImagePicker.scss
  src/renderer/components/ImagePicker/ImagePicker.stories.tsx
  src/renderer/components/ImagePicker/ImagePicker.tsx
Labels: front-end

#108 App version
  package.json
  src/main/index.ts
  src/main/versionDetails.ts
  src/renderer/internationalisation/locales/en/translation.json
  src/renderer/internationalisation/locales/pl/translation.json
  src/renderer/views/AppSettings/AppSettings.tsx
  src/renderer/views/AppSettings/subcomponents/AppUpdate.tsx
  src/renderer/views/AppSettings/subcomponents/LangSelect.tsx
  src/shared/redux/slices/settingsSlice.ts
  yarn.lock
Labels: back-end

#106 Refactor/issue 76
  .gitignore
  package.json
  src/main/node/config-manager.test.ts
  src/main/node/config-manager.ts
  src/main/node/config-util.ts
  src/main/node/file-manager.ts
  src/main/node/model/Configuration.ts
  src/shared/redux/slices/publicationsSlice.ts
  yarn.lock
Labels: back-end

#107 Added OurTextArea for issue 64
  mui.d.ts
  src/renderer/components/TextArea/TextArea.stories.tsx
  src/renderer/components/TextArea/TextArea.tsx
  src/renderer/components/TextField/TextField.tsx
Labels: front-end, atoms

#117 Zg radiobutton
  src/renderer/components/RadioButton/RadioBtn.tsx
  src/renderer/components/RadioButton/RadioGroup.stories.tsx
  yarn.lock
Labels: front-end, atoms

#112 [Issue77] Config files modification
  src/main/node/config-manager.ts
  src/main/node/file-manager.ts
Labels: back-end

#115 Loginscreen front2
  src/renderer/assets/publab.png
  src/renderer/components/LoginComponent/LoginComponent.scss
  src/renderer/components/LoginComponent/LoginComponent.tsx
  src/renderer/internationalisation/locales/en/translation.json
  src/renderer/internationalisation/locales/pl/translation.json
  src/renderer/views/Files/Files.tsx
Labels: front-end

#119 Switch
  src/renderer/components/LoginComponent/LoginComponent.tsx
  src/renderer/components/Switch/Switch.stories.tsx
  src/renderer/components/Switch/Switch.tsx
Labels: front-end, atoms

#120 Select
  src/renderer/components/Select/Select.stories.tsx
  src/renderer/components/Select/Select.tsx
Labels: front-end, atoms

#116 Create CollabPicker.tsx
  src/renderer/components/CollabPicker/CollabPicker.stories.tsx
  src/renderer/components/CollabPicker/CollabPicker.tsx
  src/renderer/components/TextField/TextField.tsx
Labels: front-end

#121 Issue70
  src/renderer/components/DirectoryPicker/DirectoryPicker.stories.tsx
  src/renderer/components/DirectoryPicker/DirectoryPicker.tsx
Labels: front-end, molecules

#138 change ThemeProvide import to proper lib (MUI)
  src/renderer/components/App/App.tsx
Labels: bug, front-end

#140 Display progress of authentication
  src/renderer/components/Auth/Auth.tsx
  src/renderer/components/AuthProgress/AuthProgress.tsx
  src/renderer/components/AuthProgress/style.ts
  src/renderer/internationalisation/locales/en/translation.json
  src/renderer/internationalisation/locales/pl/translation.json
Labels: feature, front-end

#145 Theme refactor
  .storybook/preview.js
  src/renderer/components/App/App.tsx
  src/renderer/components/AuthProgress/AuthProgress.tsx
  src/renderer/components/AuthProgress/style.ts
  src/renderer/components/Button/Button.stories.tsx
  src/renderer/components/Button/Button.tsx
  src/renderer/components/CustomRouter/CustomRouter.scss
  src/renderer/components/DirectoryPicker/DirectoryPicker.tsx
  src/renderer/components/RadioButton/RadioBtn.tsx
  src/renderer/components/RadioButton/RadioGroup.stories.tsx
  src/renderer/components/Select/Select.tsx
  src/renderer/components/Switch/Switch.tsx
  src/renderer/components/TextArea/TextArea.stories.tsx
  src/renderer/components/TextArea/TextArea.tsx
  src/renderer/components/TextField/TextField.stories.tsx
  src/renderer/components/TextField/TextField.tsx
  src/renderer/components/ViewContent/ViewContent.tsx
  src/renderer/components/ViewContent/style.ts
  src/renderer/theme.ts
  src/renderer/views/AppSettings/AppSettings.tsx
Labels: front-end

#141 add tests for nodeCheckSlice
  jest.config.ts
  src/shared/redux/slices/nodeCheckSlice.test.ts
  src/shared/utils/setupTests.ts
Labels: back-end
