Repository vnLab-Lodz/PubLab, pull requests merged in 2022-05, with the labels that each got.

#205 190 project info view
  src/renderer/components/CloseButton/CloseButton.tsx
  src/renderer/components/CustomRouter/redirects.ts
  src/renderer/components/List/List.tsx
  src/renderer/components/ProjectDetails/ProjectDetails.tsx
  src/renderer/components/Snippets/Snippet.tsx
  src/renderer/components/Snippets/Snippets.tsx
  src/renderer/components/Snippets/style.ts
  src/renderer/components/ViewContent/style.ts
  src/renderer/constants/RouterComponents.ts
  src/renderer/internationalisation/locales/en/translation.json
  src/renderer/internationalisation/locales/pl/translation.json
  src/renderer/views/Description/Description.tsx
  src/renderer/views/Project/Project.tsx
  src/renderer/views/Project/style.ts
  src/renderer/views/ProjectInfo/ProjectInfo.tsx
  src/renderer/views/ProjectInfo/style.ts
  src/renderer/views/ProjectsList/subcomponents/ProjectsTable/ProjectsTable.tsx
  src/shared/types/index.ts
Labels: front-end

#211 Expand validation regex for new publication name
  src/renderer/views/AddProject/subcomponents/ProjectDetailsInput/ProjectDetailsInput.tsx
  src/renderer/views/AddProject/subcomponents/ProjectDetailsInput/validationSchema.ts
Labels: bug, front-end

#212 Improvements to sync locations
  src/main/api/settings/readSyncLocations.ts
  src/renderer/internationalisation/locales/en/translation.json
  src/renderer/internationalisation/locales/pl/translation.json
  src/renderer/views/AppSettings/subcomponents/RepoSyncSettings/RepoSyncSettings.tsx
Labels: bug, front-end, back-end

#213 Project settings view
  src/main/api/index.ts
  src/main/api/publications/updateConfig.ts
  src/main/lib/configurationFileHandler.ts
  src/main/lib/publicationFinder.ts
  src/renderer/components/Button/Button.tsx
  src/renderer/components/CollabTable/CollabTable.tsx
  src/renderer/components/CollabTable/style.ts
  src/renderer/components/CollaboratorsPicker/CollaboratorsPicker.tsx
  src/renderer/components/PackageManagerPicker/PackageManagerPicker.tsx
  src/renderer/components/ProjectDetailsInput/ProjectDetailsInput.tsx
  src/renderer/components/ProjectDetailsInput/style.ts
  src/renderer/components/ProjectDetailsInput/validationSchema.ts
  src/renderer/components/Section/Section.tsx
  src/renderer/components/Snippets/Snippets.tsx
  src/renderer/components/TechnologiesPicker/TechnologiesPicker.tsx
  src/renderer/internationalisation/locales/en/translation.json
  src/renderer/internationalisation/locales/pl/translation.json
  src/renderer/ipc.ts
  src/renderer/views/AddProject/AddProject.tsx
  src/renderer/views/AddProject/subcomponents/CollaboratorsPicker/CollaboratorsPicker.tsx
  src/renderer/views/AddProject/subcomponents/Steps/Steps.tsx
  src/renderer/views/Project/Project.tsx
  src/renderer/views/Settings/Settings.tsx
  src/renderer/views/Settings/subcomponents/SnippetsManager/SnippetsManager.tsx
  src/renderer/views/Settings/subcomponents/SnippetsManager/style.ts
  src/renderer/views/Settings/subcomponents/TagsManager/TagsManager.tsx
  src/shared/redux/slices/loadPublicationsSlice.ts
  src/shared/types/api.ts
Labels: front-end, back-end

#215 206 create files view
  package.json
  src/main/api/files/openInDefaultApp.ts
  src/main/api/files/readDirectory.ts
  src/main/api/index.ts
  src/main/lib/fileIO.ts
  src/renderer/assets/FileIcon/FileIcon.tsx
  src/renderer/assets/FolderIcon/FolderIcon.tsx
  src/renderer/components/FileDisplay/Columns.tsx
  src/renderer/components/FileDisplay/FileDisplay.tsx
  src/renderer/components/FileDisplay/style.ts
  src/renderer/hooks/usePromiseSubscription.ts
  src/renderer/internationalisation/locales/en/translation.json
  src/renderer/internationalisation/locales/pl/translation.json
  src/renderer/ipc.ts
  src/renderer/views/Files/Files.tsx
  src/renderer/views/Files/subcomponents/Breadcrumbs/Breadcrumbs.tsx
  src/renderer/views/Files/subcomponents/FileTreeItem/FileTreeItem.tsx
  src/renderer/views/Files/subcomponents/FileTreeItem/style.ts
  src/renderer/views/Files/subcomponents/ToParentFolder/ToParentFolder.tsx
  src/shared/types/api.ts
  src/shared/types/eventTypeguards.ts
  yarn.lock
Labels: front-end, back-end
