Repository vnLab-Lodz/PubLab, pull requests merged in 2022-07, with the labels that each got.

#217 Implement commit view functionality
  package.json
  src/main/api/git/commit.ts
  src/main/api/git/push.ts
  src/main/api/git/stage.ts
  src/main/api/git/status.ts
  src/main/api/index.ts
  src/renderer/components/FileDisplay/Columns.tsx
  src/renderer/components/FileDisplay/FileDisplay.tsx
  src/renderer/components/PublicationHeader/PublicationHeader.tsx
  src/renderer/internationalisation/locales/en/translation.json
  src/renderer/internationalisation/locales/pl/translation.json
  src/renderer/ipc.ts
  src/renderer/views/Changes/Changes.tsx
  src/renderer/views/Changes/subcomponents/ChangedFiles/ChangedFile.tsx
  src/renderer/views/Changes/subcomponents/ChangedFiles/FilesByFolder.tsx
  src/renderer/views/Changes/subcomponents/ChangedFiles/StageButton.tsx
  src/renderer/views/Changes/subcomponents/CommitForm/CommitForm.tsx
  src/renderer/views/Changes/subcomponents/CommitForm/style.ts
  src/renderer/views/Changes/subcomponents/CommitForm/validationSchema.ts
  src/renderer/views/Changes/subcomponents/CurrentChanges/CurrentChanges.tsx
  src/renderer/views/Changes/subcomponents/CurrentChanges/style.ts
  src/renderer/views/Files/Files.tsx
  src/renderer/views/Files/subcomponents/Breadcrumbs/Breadcrumbs.tsx
  src/renderer/views/Files/subcomponents/FileTreeItem/FileTreeItem.tsx
  src/renderer/views/ProjectsList/subcomponents/ProjectsTable/ProjectsTable.tsx
  src/shared/redux/rootReducer.ts
  src/shared/redux/slices/repoStatusSlice.ts
  src/shared/types/api.ts
  src/shared/utils/repoStatus/statusChecks.ts
  src/shared/utils/repoStatus/tree.ts
  yarn.lock
Labels: feature, front-end, back-end

#220 Implement project list search
  mui.d.ts
  src/renderer/components/SearchField/SearchField.tsx
  src/renderer/components/SearchField/style.ts
  src/renderer/internationalisation/locales/en/translation.json
  src/renderer/internationalisation/locales/pl/translation.json
  src/renderer/theme.ts
  src/renderer/views/ProjectsList/ProjectsList.tsx
  src/renderer/views/ProjectsList/formatTags.ts
  src/renderer/views/ProjectsList/subcomponents/ProjectSearch/ProjectSearch.tsx
Labels: front-end

#226 Make paths formats more uniform
  src/main/api/git/stage.ts
  src/main/api/git/status.ts
  src/renderer/views/Files/Files.tsx
  src/renderer/views/Files/subcomponents/FileTreeItem/FileTreeItem.tsx
  src/shared/utils/paths.ts
  src/shared/utils/repoStatus/tree.ts
Labels: back-end, refactor

#227 Fix login screen styles
  src/renderer/components/LoginComponent/LoginComponent.tsx
  src/renderer/components/LoginComponent/style.ts
Labels: bug

#228 Gatsby-config modification
  src/main/api/publications/generate.ts
  src/main/api/publications/updateConfig.ts
  src/main/lib/gatsbyConfigHandler.ts
  src/renderer/views/Settings/Settings.tsx
Labels: feature, back-end
